<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script data-require="angular.js@1.6.x" src="http://code.angularjs.org/1.6.5/angular.js" data-semver="1.2.5"></script>

<div class="row">
    <div style="color: blue; font-size: 20px; margin: 10px;margin-left:50px;">Please provide the details for the New Teacher to be Inserted</div>    
    <div class="col l5 m10 s10" style="margin-left:50px;">
        <select ng-model="selectedCollege" ng-change="collegeSelected()">
            <option value="" disabled selected>Select College</option>
            <option ng-repeat="coll in collegeList">{{coll.collegeName}}</option>
        </select>
    </div>
    <div class="col l5 m10 s10" style="margin-left:50px;">
        <select ng-model="designation">
            <option value="" disabled selected>Select Designation</option>
            <option ng-repeat="desig in desigList">{{desig}}</option>
        </select>
    </div>
</div>

<div class="container row">
    <div class="col l6 m10 s10">
        <div class="input-field col s12">
          <input id="instructor_name" name="instructorName" type="text" ng-model="name" ng-required="true" placeholder="Enter the full name of instructor"><br>
        </div>
    </div>

    <div class="col l6 m10 s10">
        <div class="input-field col s12"> 
          <input id="instructor_email" name="instructorEmail" class="validate" type="email" ng-model="email"  ng-required="true" placeholder="Enter the Email ID of instructor"><br>
        </div>
    </div>

    <div class="col l6 m10 s10">
        <div class="input-field col s12">
          <input id="instructor_phone" name="instructorPhone" type="number" class="validate" ng-model="phone" ng-required="true" placeholder="Enter the phone number of instructor"><br>
        </div>
    </div> 
    
    <div class="col l6 m10 s10">
        <div class="input-field col s12">
          <input id="instructor_room" name="instructorRoom" type="text" ng-model="room_no" ng-required="true" placeholder="Enter the room number of instructor"><br>
        </div>
    </div>

    <div class="col l6 m10 s10">
        <div class="input-field col s12">  
            <input id="instructor_newPassword" type="password" ng-model="password"  ng-required="true" placeholder="Enter the password of instructor"><br>
        </div>
    </div>

    <div class="col l6 m10 s10">
      <div class="input-field col s12"> 
        <input id="instructor_newRepeatPassword" type="password" ng-model="repeat" ng-blur="checkPassword()" ng-required="true" placeholder="Retype the password of instructor"><br>
      </div>
    </div>   
</div>
    <button type="button" class="btn btn-default" ng-click="submit()" style="display:block;margin:0 auto;">Submit</button>
<br>
<br>

<style type="text/css">
    .select-wrapper input.select-dropdown {
        position: relative;
        cursor: pointer;
        background-color: aliceblue;
        border: none;
        border-bottom: 0 !important;
        outline: none;
        height: 3rem;
        line-height: 3rem;
        width: 100%;
        font-size: 1rem;
        margin: 0 0 20px 0;
        padding: 0;
        display: block;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-indent: 1em;
    }


    .inforow {
        display: flex;
    }

    .infoelement {
        flex: 1;
        text-align: center;
    }

    .select-wrapper span.caret {
        color: initial;
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        height: 10px;
        margin: auto 0;
        font-size: 10px;
        line-height: 10px;
        z-index: 99;
        cursor: pointer;
    }

    .large-title {
        font-weight: 700;
        font-size: 16px;
        color: darkcyan;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding: 0.5em;
    }

    .pct {
        font-size: 24px;
        font-weight: 700;
    }

    .input-field.col.s12 {
        margin-top: 0 !important;
    }

    .sub-container .row:nth-child(even) {
        background: lightcyan
    }

    .sub-container .row:nth-child(odd) {
        background: mintcream;
    }

    input.no-margin {
        margin-bottom: 0 !important;
    }

    input:not([type]),
    input[type=text]:not(.browser-default),
    input[type=password]:not(.browser-default),
    input[type=email]:not(.browser-default),
    input[type=url]:not(.browser-default),
    input[type=time]:not(.browser-default),
    input[type=date]:not(.browser-default) {
        height: 3rem;
    }

    /* https://stackoverflow.com/questions/2610497/change-an-html5-inputs-placeholder-color-with-css */
    ::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #909;
    }

    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #909;
        opacity: 1;
    }

    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #909;
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #909;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #909;
    }

    ::placeholder {
        /* Most modern browsers support this now. */
        color: #909;
    }

    .sub-container ul:not(.browser-default) {}

    .sub-container ul:not(.browser-default) li {}

    .sub-container .autocomplete-content {
        margin-top: 0px;
    }

    .autocomplete-content {
        margin-bottom: 0;
    }

    .close-div:hover {
        background: red !important;
        color: white;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('select').material_select();
    })
</script>
