<br>
<div class="row">
    <div>
    <div id="grad" class="container student-card card">
    <div class=" card-content row">

        <div class="col s4">

            <div class='greeting'>HELLO</div>

            <div class="student-name"> {{ teacher.name }}</div>

        </div>
        <div class="col s4">
            <center>
                <img id="stud-img" class="student-main-image" ng-src="./app/instructor_images/{{teacher.school}}/{{teacher.instructor_id}}.jpg" onerror="this.src='http://placehold.it/180x200'" style="height: 200px; width: 200px;">
                <br><br>

                <div style="margin-bottom: 0px !important;" class="row">

                    <form name="form" action="/tupload_photo" method="post" class="uploadImage" enctype="multipart/form-data">
                        <input class="file-input" id="file" type='file' ng-model="photo" name="photo" value="file" ng-required="true">
                        <br><br>
                        <input name="submit" class="waves-effect waves-light  btn" type="submit" value="Upload File">
                    </form>

                </div>
            </center>

        </div>
        <div class="col s4">
            <a class="logout btn waves-effect waves-light right" ng-click="logout()">LOG OUT </a>
        </div>
    </div>

    <div class="card-action">
        <div class="row">

            <div class="col s4">
                <div class="small-title">SCHOOL</div>

                <div class="small-content school">{{ teacher.school }}</div>

            </div>

            <div class="col s4">
                <div class="small-title">ROOM NO</div>

                <div class="small-content stream">{{ teacher.room_no }}</div>

            </div>
            <div class="col s4">
                <div class="small-title">DATE OF JOINING</div>

                <div class="small-contenty yoa">{{ teacher.date_of_joining }}</div>

            </div>
        </div>
    </div>

    <div class="card-action">
        <div class="row">
            <div class="col s12">
                <div class="input-field col s6">
                    <input placeholder="Email-Id" id="last_name" type="text" class="validate editField email-id" disabled ng-model="teacher.email">
                </div>

                <div class="input-field col s6">
                    <input placeholder="phone number" id="last_name" type="text" class="validate editField phone" disabled ng-model="teacher.phone">
                </div>
            </div>
        </div>
    </div>

    <div class="card-action">
        <a class="check-status btn waves-effect waves-light" ng-click="checkStatus()">
            VIEW FEEDBACK
        </a>
    </div>
</div>
</div>
</div>

<script>

   $("#file").on('change', function () {
        console.log("image change section");
        var countFiles = $(this)[0].files.length;
        var imgPath = $(this)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            var reader = new FileReader();
            reader.onload = function (e){
            // get loaded data and render thumbnail.
           document.getElementById("stud-img").src = e.target.result;
           };

          // read the image file as a data URL.
          reader.readAsDataURL(this.files[0]);
        }
        else{ 
            alert("Pls select only images");
         }    
        
    });

   $('.uploadImage').submit(function(e){
     e.preventDefault();
    
     
     $(this).ajaxSubmit({
       contentType: 'application/json',
       success: function(response){
         console.log(response.message);
         alert(response.message); 
       }
   });
     

     return false;
});
</script>
