<br>
<div class="row">
    <form>
    <div id="grad" class="container student-card card">
    <div class=" card-content row">

        <div class="col s4">

            <div class='greeting'>HELLO</div>

            <div class="student-name">
                <input type="text" ng-model="teacher.name" ng-model="teacher.name" ng-disabled="editName" style="font-size:25px;"><br>
            </div>
            <a href="" ng-click="editName==false ? editName=true:editName=false" style="text-transform: uppercase"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:22px"></i>
            </a>

        </div>
        <div class="col s4">
            <center>
                <img id="stud-img" class="student-main-image" ng-src="./app/instructor_images/{{teacher.school}}/{{teacher.instructor_id}}.jpg" onerror="this.src='http://placehold.it/180x200'" style="height: 200px; width: 200px;">
                <br><br>

                <div style="margin-bottom: 0px !important;" class="row">

                    <form name="form" action="/tupload_photo" method="post" class="uploadImage" enctype="multipart/form-data">
                        <input class="file-input" id="file" type='file' ng-model="photo" name="photo" value="file" >
                        <br><br>
                        <input name="submit" class="waves-effect waves-light  btn" type="submit" value="Upload File">
                    </form>

                </div>
            </center>

        </div>
        <div class="col s4">
            <a class="logout btn waves-effect waves-light right" ng-click="logout()">LOG OUT </a>
        </div>
    </div>

    <div class="card-action">
        <div class="row">

            <div class="col s4">
                <div class="small-title">USS</div>

                <button class='dropdown-button btn btn-primary' ng-disabled="editSchool" id="input_field" data-activates='dropdown1' style="background-color: white !important;color: black; width: 14em">
                    {{ college.collegeName || 'SELECT USS' }} <span class="caret pull-right">▼</span>
                </button>
                <input type="text" ng-model="college.collegeName" ng-disabled="editSchool">{{college.collegeName}}<br>
                <a href="" ng-click="editSchool==false ? editSchool=true:editSchool=false">Edit Field</a>
                
                <div class="small-content school">
                    <input type="text" ng-model="teacher.school" ng-disabled="editSchool"><br>
                    <a href="" ng-click="editSchool==false ? editSchool=true:editSchool=false"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:22px"></i></a>
                </div>

            </div>

            <div class="col s4">
                <div class="small-title">ROOM NO</div>

                <div class="small-content stream">
                    <input type="text" ng-model="teacher.room_no" ng-required="true" ng-disabled="editRoom"><br>
                    <a href="" ng-click="editRoom==false ? editRoom=true:editRoom=false"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:22px"></i></a>
                </div>

            </div>
            <div class="col s4">
                <div class="small-title">DATE OF JOINING</div>

                <div class="small-content date">
                    <input type="date" name="date" ng-required="true" ng-model="teacher.date_of_joining" ng-disabled="editDoj"><br>
                    <a href="" ng-click="editDoj==false ? editDoj=true:editDoj=false"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:22px"></i></a>
                    <div ng-show="date.$touched && date.$invalid">
                        <small style="color: red; display: block; text-align: center;">Enter a valid date of joining </small>
                      </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card-action">
        <div class="row">
            <div class="col s12">
                <div class="input-field col s6">
                    <input placeholder="Email-Id" name="email" nameid="last_name" type="email" ng-required="true" class="validate editField email-id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ng-disabled="editEmail" disabled ng-model="teacher.email">
                    <a href="" ng-click="editEmail==false ? editEmail=true:editEmail=false"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:22px"></i></a>
                     <div ng-show="email.$touched && email.$invalid">
                        <small style="color: red; display: block; text-align: center;">Enter a valid email </small>
                      </div> 
                </div>

                <div class="input-field col s6">
                    <input placeholder="phone number" id="last_name" type="text" ng-required="true" class="validate editField phone" pattern="[789][0-9]{9}" ng-disabled="editPhone" ng-model="teacher.phone">
                    <a href="" ng-click="editPhone==false ? editPhone=true:editPhone=false">Edit Field</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-action">
           Edited fields can be saved by pressing &nbsp&nbsp&nbsp 
            <a class="btn waves-effect waves-light" ng-click="updateTeacherInfo()">
                update teacher information
            </a>
        </div>
    

    <div class="card-action">
        <a class="check-status btn waves-effect waves-light" ng-click="checkStatus()">
            VIEW FEEDBACK
        </a>
    </div>
</div>
</form>
</div>
</div>

<script>

   $("#file").on('change', function () {
        console.log("image change section");
        var countFiles = $(this)[0].files.length;
        var imgPath = $(this)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            var reader = new FileReader();
            reader.onload = function (e){
            // get loaded data and render thumbnail.
           document.getElementById("stud-img").src = e.target.result;
           };

          // read the image file as a data URL.
          reader.readAsDataURL(this.files[0]);
        }
        else{ 
            alert("Pls select only images");
         }    
        
    });

   $('.uploadImage').submit(function(e){
     e.preventDefault();
    
     
     $(this).ajaxSubmit({
       contentType: 'application/json',
       success: function(response){
         console.log(response.message);
         alert(response.message); 
       }
   });
     

     return false;
});
</script>
