<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<br>
<div class="row">
    <div class="col m4 offset-m1">
        <select ng-model="selectedYear" ng-options="option for option in ['2017', '2018']" ng-change="yearChange()">
            <option value="" disabled selected>Choose Academic Year</option>
        </select>
    </div>
    <div class="col s2">
         <select ng-model="selectedCourse" ng-options="option for option in course" ng-change="streamList();teacherList();subjectLists()">
            <option value=""  selected>All Course</option>
        </select>
    </div>
    <div class="col s2">
        <select ng-model="selectedStream" ng-options="option for option in stream" ng-change="teacherList();subjectLists()">
            <option value=""  selected>All Stream</option>
        </select>
    </div>
    <div class="col s2">
        <select ng-model="selectedSem" ng-options="option for option in semester" ng-change="teacherList();subjectLists()">
            <option value=""  selected>All Semester</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col s1">

    </div>
    <div class="col m5 ">
        <select ng-model="selectedTeacher" ng-options="option for option in teacherlist" ng-change="subjectLists()">
            <option value="" selected>All Teachers</option>
        </select>
    </div>
    <div class="col s5">
        <select ng-model="selectedSubject" ng-options="option for option in subjects" ng-change="hanu()">
            <option value="" selected>All Subject</option>
        </select>
    </div>
</div>

<div class="center" ng-hide="searching">
 <div class="g-recaptcha hide" data-sitekey="6LcW-CcUAAAAAMSs6yu89PgIMvFyOT4Bps651gYE"></div>
    <a class="waves-effect white black-text btn" ng-click="search()" >SEARCH</a>
<br><br>
    <!--<a class="waves-effect white black-text btn" ng-click="print()">Print as PDF</a>-->
    <button  ng-click="print()" ng-hide="hidebutton" class="waves-effect white black-text btn" id="form_button" type="submit" name="action">Print as PDF</button>
 </div>  
                
</div>

<div class="center" ng-show="searching">
    <p><h4><b>Data is being searched ... </b></h4></p>
</div>

<div ng-show="showSpinner" class="pull-right" id="loaddiv" style="margin: auto; width: 17%;">
    <img style="margin-top:5px;" src="./app/resources/images/5.gif" width="60px" />
</div>                    
<div class="wrapper" id="mycanvas">
<div class="" style="padding: 2em;">
    <div class="card" ng-repeat="(key, value) in final_res" style="padding: 1em;margin-bottom: 100px;" >
        <div class="row inforow">
            <div class="infoelement">
                <div class="small-title">
                    INSTRUCTOR CODE
                </div>
                <p>{{value.instructor_code}}</p>
            </div>
            <div class="infoelement">
                <div class="small-title">
                    INSTRUCTOR NAME
                </div>
                <p>{{value.name}}</p>
            </div>
            <div class="infoelement">
                <div class="small-title">
                    SUBJECT CODE
                </div>
                <p>{{value.subject_code}}</p>
            </div>
            <div class="infoelement">
                <div class="small-title">
                    SUBJECT NAME
                </div>
                <p>{{value.subject_name}}</p>
            </div>
            <div class="infoelement">
                <div class="small-title">
                    COURSE
                </div>
                <p>{{value.course}}</p>
            </div>
            <div class="infoelement">
                <div class="small-title">
                    STREAM
                </div>
                <p>{{value.stream}}</p>
            </div>
            <div class="infoelement">
                <div class="small-title">
                    SEMESTER
                </div>
                <p>{{value.semester}}</p>
            </div>
            <div class="infoelement">
                <div class="small-title">
                    TYPE
                </div>
                <p>{{value.type}}</p>
            </div>
        </div>
        <hr>
        <table class="bordered highlighted striped">
            <thead>
                <tr>
                    <th>Attributes</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="value.type=='Theory'" ng-repeat="(k, v) in attributesList.theory">
                    <td>{{v}}</td>
                    <td>{{value['at_' + (+k+1)]['1']}}</td>
                    <td>{{value['at_' + (+k+1)]['2']}}</td>
                    <td>{{value['at_' + (+k+1)]['3']}}</td>
                    <td>{{value['at_' + (+k+1)]['4']}}</td>
                    <td>{{value['at_' + (+k+1)]['5']}}</td>
                    <td>{{value['at_' + (+k+1)]['1']*1 + value['at_' + (+k+1)]['2']*2 +
                    value['at_' + (+k+1)]['3']*3 + value['at_' + (+k+1)]['4']*4  +
                value['at_' + (+k+1)]['5']*5 }}</td>
                </tr>
                <tr ng-if="value.type=='Practical'" ng-repeat="(k, v) in attributesList.practicals">
                    <td>{{v}}</td>
                    <td>{{value['at_' + (+k+1)]['1']}}</td>
                    <td>{{value['at_' + (+k+1)]['2']}}</td>
                    <td>{{value['at_' + (+k+1)]['3']}}</td>
                    <td>{{value['at_' + (+k+1)]['4']}}</td>
                    <td>{{value['at_' + (+k+1)]['5']}}</td>
                    <td>{{value['at_' + (+k+1)]['1']*1 + value['at_' + (+k+1)]['2']*2 +
                    value['at_' + (+k+1)]['3']*3 + value['at_' + (+k+1)]['4']*4  +
                value['at_' + (+k+1)]['5']*5 }}</td>
                </tr>

                <tr>
                    <td><span class="small-title">No of Students Evaluated  = </span>{{value. no_of_students_evaluated}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="small-title">Total Marks Obtained  = </span> {{getTotal(value)}}</td>
                </tr>
            </tbody>
        </table>

        <div class="center">
            <div class="large-title">PERCENTAGE</div>
            <div ng-if="value.type=='Theory'" class="pct">{{ ((getTotal(value) / (value.no_of_students_evaluated * 75)) * 100 ).toFixed(2)}}</div>
            <div ng-if="value.type=='Practical'" class="pct">{{ ((getTotal(value) / (value.no_of_students_evaluated * 40)) * 100 ).toFixed(2)}}</div>
        </div>
        
    </div>
</div>
</div>
<div>
    <center>
        <a class="logout btn waves-effect waves-light center-align" ng-click="logout()">LOG OUT </a>
    </center>
    <br><br>
</div>

<style type="text/css">
    .select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: aliceblue;
    border: none;
    border-bottom: 0 !important;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-indent: 1em;
}
td, th {
    max-width: 200px;
}

td:nth-child(1) {
  /* your stuff here */
  padding-right: 3em;
}

th:nth-child(n+2):nth-child(-n+6), td:nth-child(n+2):nth-child(-n+6) {
    text-align: center
}
th:nth-child(7), td:nth-child(7) {
  /* your stuff here */
  max-width: 90px;
  text-align: right;
  padding-right: 2em;
}

.inforow {
    display: flex;
}

.infoelement {
    flex: 1;
    text-align: center;
}
.select-wrapper span.caret {
    color: initial;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    height: 10px;
    margin: auto 0;
    font-size: 10px;
    line-height: 10px;
    z-index: 99;
    cursor: pointer;
}
.large-title {
    font-weight: 700;
    font-size: 16px;
    color: darkcyan;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0.5em;
}
.pct {
    font-size: 24px;
    font-weight: 700;
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
                $('select').material_select();
    })

</script>
