<br>
<div class="row">
    <div>
    <div id="grad" class="container student-card card">
    <div class=" card-content row">

        <div class="col s4">

            <div class='greeting'>HELLO</div>

            <div class="student-name">
                <input type="text" pattern="[a-zA-Z]+" class="validate editField name" ng-pattern-restrict title="Please enter alphanets only" ng-model="dean.name" ng-disabled="editName" style="font-size:25px;" ng-required="true"><br>
            </div>
            <a href="" ng-click="editName==false ? editName=true:editName=false" style="text-transform: uppercase">
                <span ng-show="editName">Edit Field</span><span ng-show="!editName">Done</span> 
                <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:22px"></i>
            </a>
        </div>
        
        <div class="col s4">
            <center>
                <div id=showImage>
                <img height=100 width=100 id="stud-img" class="student-image" ng-src="./app/instructor_images/{{dean.college_name}}/{{dean.instructor_id}}.jpg" onerror="this.src='http://placehold.it/180x200'"style="height: 200px; width: 200px;">
                 </div>
                <br><br>

                <div style="margin-bottom: 0px !important;" class="row">

                    <form class="uploadImage" action="/dupload_photo" method="post" enctype="multipart/form-data">
                        <input class="file-input" id="file" type='file' ng-model="photo" name="photo" value="file" ng-required="true">
                        <br><br>
                        <input name="submit" class="waves-effect waves-light  btn" type="submit" value="Upload File">
                    </form>
                </div>
            </center>

        </div>
        <div class="col s4">
            <a class="logout btn waves-effect waves-light right" ng-click="logout()">LOG OUT </a>
        </div>
    </div>

    <div class="card-action">
        <div class="row">

            <div class="col s4">
                <div class="small-title">USS</div>

                <div class="small-content school">
                    {{dean.school | uppercase}}<br>
                </div> 

            </div>

            <div class="col s4">
                <div class="small-title">ROOM NO</div>

                <div class="small-content stream">
                    <input type="text" ng-model="dean.room_no" ng-required="true" ng-disabled="editRoom" maxlength="5" pattern="[ABCDE]-[1-6][\d]{2}" title="Pattern should be {Block-Room_no}. Ex:- E-109. Available blocks : A,B,C,D,E"><br>
                    <a href="" ng-click="editRoom==false ? editRoom=true:editRoom=false">
                        <span ng-show="editRoom">Edit Field</span><span ng-show="!editRoom">Done</span>    
                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:22px"></i>
                    </a>
                </div>

            </div>
            <div class="col s4">
                <div class="small-title">DATE OF JOINING</div>

                <div class="small-content date">
                    <input type="date" name="date" ng-required="true" value="{{dean.date_of_joining}}" ng-model="dean.date_of_joining" ng-disabled="editDoj" title="Please select date from the dropdown button that appears on extreme right of this field"><br>
                    <a href="" ng-click="editDoj==false ? editDoj=true:editDoj=false">
                        <span ng-show="editDoj">Edit Field</span><span ng-show="!editDoj">Done</span>
                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:22px"></i>
                    </a>

                    <div ng-show="date.$touched && date.$invalid">
                        <small style="color: red; display: block; text-align: center;">Enter a valid date of joining </small>
                      </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card-action">
        <div class="row">
            <div class="col s12">
                <div class="small-title">EMAIL ID</div>
                <div class="input-field col s6">
                    <input placeholder="Email-Id" name="email" nameid="last_name" type="email" ng-required="true" class="validate editField email-id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Enter valid email Id" ng-disabled="editEmail" ng-model="dean.email">
                    <a href="" ng-click="editEmail==false ? editEmail=true:editEmail=false">
                        <span ng-show="editEmail">Edit Field</span><span ng-show="!editEmail">Done</span>
                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:22px"></i>
                    </a>
                     <div ng-show="email.$touched && email.$invalid">
                        <small style="color: red; display: block; text-align: center;">Enter a valid email </small>
                      </div> 
                </div>  
                <div class="small-title">PHONE NUMBER</div>
                <div class="input-field col s6">
                    <input placeholder="phone number" id="last_name" type="text" ng-required="true" class="validate editField phone" pattern="[789][0-9]{9}" title="Enter 10 digit mobile number" ng-disabled="editPhone" ng-model="teacher.phone">
                    <a href="" ng-click="editPhone==false ? editPhone=true:editPhone=false">                        
                        <span ng-show="editPhone">Edit Field</span><span ng-show="!editPhone">Done</span>
                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:22px"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-action">
        Edited fields can be saved by pressing &nbsp&nbsp&nbsp 
         <input type="submit" class="btn waves-effect waves-light" ng-click="updateDeanInfo()" value="update information" type="submit" ng-disabled="!editName || !editRoom || !editDoj || !editPhone || !editEmail">
     </div>
 
     <div class="card-action">
        <a class="check-status btn waves-effect waves-light" ng-click="checkStatus()">
            VIEW FEEDBACK
        </a>
    </div>
</div>
</div>
</div>

<script>

    $("#file").on('change', function () {
        console.log("image change section");
        var countFiles = $(this)[0].files.length;
        var imgPath = $(this)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            var reader = new FileReader();
            reader.onload = function (e){
            // get loaded data and render thumbnail.
           document.getElementById("stud-img").src = e.target.result;
           };

          // read the image file as a data URL.
          reader.readAsDataURL(this.files[0]);
        }
        else{ 
            alert("Pls select only images");
         }    
        
    });


   $('.uploadImage').submit(function(e){
     e.preventDefault();
    
     
      $(this).ajaxSubmit({
         contentType: 'application/json',
         success: function(response){
         console.log(response.message);
         alert(response.message); 
       }
   });
     

     return false;
});
</script>
