<div class="container">
    <div class="col m3">
        <div class="input-field col s12">
            
          <input id="instructor_name" type="text" class="autocomplete no-margin" ng-model="item.instructor_name" ng-blur="changeFlag(item)" ng-required="true" placeholder="Select Name">
        </div>
      </div>


<div class="col m3">
        <div class="input-field col s12">
            
          <input id="instructor_email" type="email" class="" ng-model="item.instructor_email"  ng-required="true" placeholder="Enter Email">
        </div>
 </div>

 <div class="col m3">
        <div class="input-field col s12">
                <button  ng-click="getEmail(instructor_id)" ng-disabled="disableReset" ng-hide="hidebutton" class="btn waves-effect waves-light align-center" type="submit" name="">Reset Password</button>
        </div>
 </div>



 <div class="col m3">
        <div class="input-field col s12">
            
          <input id="instructor_otp" type="text" class="" ng-model="item.instructor_otp" ng-disabled="disableOTP" ng-required="true" placeholder="Enter the verification OTP sent to your Email">
        </div>
 </div>


 <div class="col m3">
        <div class="input-field col s12">
            
          <input id="instructor_newPassword" type="text" class="" ng-model="item.instructor_newPassword"  ng-required="true" ng-disabled="disableNewPassword" placeholder="Enter your new password">
        </div>
 </div>

</div>
<!-- Add styles -->
