<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<form name="form">
 
<div class="container">
    <h5><b>Please keep this window open while resetting the password, otherwise process will have to be repeated</b></h5><br><br>
    <h6 style="color: #26a69a; font-weight: bold">Form for sending OTP to email to reset password :-</h6>
    
    <div class="col l3">
        <div class="input-field col s12">
          <input id="instructor_name" name="instructorName" type="text" class="autocomplete no-margin" ng-model="info" ng-blur="changeFlag(info)" ng-required="true" placeholder="Type initials of name"><br>
        </div>
    </div>

    <div class="col l3">
        <div class="input-field col s12">
          <input id="instructor_id" name="instructorId" type="text" ng-model="item.instructor_id" ng-required="true" placeholder="Instructor Id" disabled=true><br>
        </div>
    </div>

    <!-- <div class="col l3">
            <div class="input-field col s12"> 
              <input id="instructor_email" name="instructorEmail" type="email" class="validate" ng-focus="" ng-model="item.instructor_email"  ng-required="true" ng-validate="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Enter Email"><br>
            </div>
    </div> -->

    <div class="col l3">
            <div class="input-field col s12" ng-if="!disableSentEmail">
                  <button ng-click="getEmail(item)" class="btn waves-effect waves-light align-center" type="submit" ng-disabled = "!item.instructor_id || !info">Send Email</button><br>
                  <img src="app/resources/images/5.gif" ng-hide="disableGif1"/>
            </div>
    </div>

    <br>


    <section ng-show="secondSect">
    <h6 style="color: #26a69a; font-weight: bold">Form for entering OTP sent to email and recording new password :-</h6>
    <div class="col l3">
            <div class="input-field col s12">
                
              <input id="instructor_otp" type="text" class="" ng-model="item.instructor_otp" ng-required="true" placeholder="Enter the verification OTP sent to your Email"><br>
            </div>
    </div>


    <div class="col l3">
            <div class="input-field col s12">
                
              <input id="instructor_newPassword" type="password" class="validate" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="The password must contain at least one number,one uppercase and lowercase letter, and at least 8 or more characters" ng-model="item.instructor_newPassword"  ng-required="true" placeholder="Enter your new password"><br>
            </div>
    </div>
    
    <div class="col l3">
      <div class="input-field col s12">
          
        <input id="instructor_newRepeatPassword" type="password" class="validate" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="The password must contain at least one number,one uppercase and lowercase letter, and at least 8 or more characters" ng-model="item.instructor_newRepeatPassword"  ng-required="true" placeholder="Retype new password" ng-blur="checkPassword()"><br>
      </div>
    </div>



    <div class="col l3">
      <div class="input-field col s12">
            <button ng-click="resetPassword(item)" class="btn waves-effect waves-light align-center" type="submit" name="" ng-disabled="!item.instructor_newPassword||!item.instructor_newRepeatPassword||!item.instructor_otp">Reset Password</button><br>
            <img src="app/resources/images/5.gif" ng-hide="disableGif2"/>
      </div>
</div>
</section>
<pre>    </pre>

</div>
</form>

<style type="text/css">
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #909;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #909;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #909;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    #909;
}
::placeholder { /* Most modern browsers support this now. */
 color:    #909;
}
</style>
<script type="text/javascript">
  $(document).ready(function () {
              $('select').material_select();
  })
</script>
