<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<br>
<div class="row">
    <div class="col m4 offset-m1">
        <select ng-model="selectedCollege" ng-change="collegeSelected()">
            <option value="" selected>Choose College</option>
            <option ng-repeat="college in collegeList">{{college.collegeName}}</option>
        </select>
    </div>
</div>
<div class="center" ng-hide="!selectedCollege">
    <div class="col m6">
        <a class="waves-effect white black-text btn" ng-click="searchSubjectDataStatus()" ng-disabled="!selectedCollege">SEARCH SUBJECT DATA</a>
    </div>
</div>
<div class="container">
    <div class="table-responsive" ng-show="searchedSubjectData">
        <table>
            <thead>
              <th>S.No.</th>
              <th>Course</th>
              <th>Stream</th>
              <th>Semester</th>
              <th>Status</th>
            </thead>
            <tr ng-repeat="value in selectedData.data track by $index">
              <td>{{ $index  + 1}}</td>
              <td>{{ value.course }}</td>
              <td>{{ value.stream }}</td>
              <td>{{ value.semester }}</td>
              <td>Submitted</td>
            </tr>
            <tr ng-repeat="value in selectedData.noData track by $index">
                <td>{{ $index  + 1}}</td>
                <td>{{ value.course }}</td>
                <td>{{ value.stream }}</td>
                <td>{{ value.semester }}</td>
                <td>Not Submitted</td>
            </tr>
          </table>
    </div>
    </div>

    <style type="text/css">
        .select-wrapper input.select-dropdown {
            position: relative;
            cursor: pointer;
            background-color: aliceblue;
            border: none;
            border-bottom: 0 !important;
            outline: none;
            height: 3rem;
            line-height: 3rem;
            width: 100%;
            font-size: 1rem;
            margin: 0 0 20px 0;
            padding: 0;
            display: block;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            text-indent: 1em;
        }
    
        td,
        th {
            max-width: 200px;
        }
    
        td:nth-child(1) {
            /* your stuff here */
            padding-right: 3em;
        }
    
        th:nth-child(n+2):nth-child(-n+6),
        td:nth-child(n+2):nth-child(-n+6) {
            text-align: center
        }
    
        th:nth-child(7),
        td:nth-child(7) {
            /* your stuff here */
            max-width: 90px;
            text-align: right;
            padding-right: 2em;
        }
    
        .inforow {
            display: flex;
        }
    
        .infoelement {
            flex: 1;
            text-align: center;
        }
    
        .select-wrapper span.caret {
            color: initial;
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            height: 10px;
            margin: auto 0;
            font-size: 10px;
            line-height: 10px;
            z-index: 99;
            cursor: pointer;
        }
    
        .large-title {
            font-weight: 700;
            font-size: 16px;
            color: darkcyan;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            padding: 0.5em;
        }
    
        .pct {
            font-size: 24px;
            font-weight: 700;
        }
    
        .input-field.col.s12 {
            margin-top: 0 !important;
        }
    
        .sub-container .row:nth-child(even) {
            background: lightcyan
        }
    
        .sub-container .row:nth-child(odd) {
            background: mintcream;
        }
    
        input.no-margin {
            margin-bottom: 0 !important;
        }
    
        input:not([type]),
        input[type=text]:not(.browser-default),
        input[type=password]:not(.browser-default),
        input[type=email]:not(.browser-default),
        input[type=url]:not(.browser-default),
        input[type=time]:not(.browser-default),
        input[type=date]:not(.browser-default) {
            height: 3rem;
        }
    
        /* https://stackoverflow.com/questions/2610497/change-an-html5-inputs-placeholder-color-with-css */
        ::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: #909;
        }
    
        :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #909;
            opacity: 1;
        }
    
        ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #909;
        }
    
        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #909;
        }
    
        ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #909;
        }
    
        ::placeholder {
            /* Most modern browsers support this now. */
            color: #909;
        }
    
        .sub-container ul:not(.browser-default) {}
    
        .sub-container ul:not(.browser-default) li {}
    
        .sub-container .autocomplete-content {
            margin-top: 0px;
        }
    
        .autocomplete-content {
            margin-bottom: 0;
        }
    
        .close-div:hover {
            background: red !important;
            color: white;
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();
        })
    </script>
    